<div id="<%= dom_id purchase %>">
  <p>
    <strong>Purchase date:</strong>
    <%= purchase.purchase_date %>
  </p>

  <p>
    <strong>Total value:</strong>
    <%= purchase.total_value %>
  </p>

  <p>
    <strong>User:</strong>
    <%= purchase.user_id %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= purchase.supplier_id %>
  </p>

</div>
