<div class="container mt-2">
  <%= link_to "Nuevo purchaseo", new_purchase_path, class: "btn btn-primary mt-3" %>
  <table class="mt-3">
    <thead>
      <tr>
        <th>Fecha del pedido</th>
        <th>Total</th>
        <th>Proveedor</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @purchases.each do |purchase|%>
        <tr>
          <td><%= purchase.purchase_date %></td>
          <td><%= purchase.total_value %></td>
          <td><%= Supplier.find(purchase.supplier_id).name %></td>
          <td>
            <%= link_to 'Ver', purchase_path(purchase), class: 'btn btn-sm btn-info' %>
            <%= link_to 'Editar', edit_purchase_path(purchase), class: 'btn btn-sm btn-warning' %>
            <%= button_to 'Eliminar', purchase_path(purchase), method: :delete, class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

