<div id="<%= dom_id purchase_line %>">
  <p>
    <strong>Purchase:</strong>
    <%= purchase_line.purchase_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= purchase_line.product_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= purchase_line.quantity %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= purchase_line.total %>
  </p>

</div>
