<div class="container mt-2">
  <div id="<%= dom_id supplier %>">
    <div class="card">
      <table>
        <tr>
          <td colspan="2"><%= supplier.name %></td>
        </tr>
        <tr>
          <td colspan="2"><%= supplier.cif %></td>
        </tr>
        <tr>
          <td colspan="2"><%= supplier.address %></td>
        </tr>
        <tr>
          <td colspan="2"><%= supplier.city %></td>
        </tr>
        <tr>
          <td><%= supplier.province %></td>
          <td><%= supplier.postal_code %></td>
        </tr>
        <tr>
          <td colspan="2"><%= supplier.contact_person %></td>
        </tr>
        <tr>
          <td><%= supplier.phone %></td>
          <td><%= supplier.mail %></td>
        </tr>
      </table>
    </div>
  </div>
</div>


